<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Record Shop Biz</title>
    
  </head>

  <body class="overflow-hidden vh-100">
    <header class="display-flex justify-space-between align-center p-2 position-absolute">
      {{#if logged_in}}
        <nav>
          <button class="btn" id="logout">logout</button>
        </nav>
      {{/if}}
    </header>
    <main class="">
      {{{body}}}
    </main>
    <footer>

    </footer>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>