<link rel="stylesheet" href="/css/jass.css" />

<section>
  <h1 class="title">
    Inventory Entry Form
  </h1>
  <h3 class="subtitle">
    Add inventory or create a new inventory item
  </h3>
</section>
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>
<form class="form inventory-entry-form">
  <div class="form-group">
    <label for="mediaType">Media:</label>
    <select class="form-input" id="mediaType-inventory">
      <option value="Album">Album</option>
      <option value="Tape">Tape</option>
      <option value="CD">CD</option>
    </select>
  </div>
  <div class="form-group">
    <label for="genreType">Genre:</label>
    <select class="form-input" id="genre-inventory">
      <option value="5">Rap</option>
      <option value="4">Country</option>
      <option value="3">Rock</option>
    </select>
  </div>
  <div class="form-group">
    <label for="title">Product Name:</label>
    <input class="form-input" type="text" id="title-inventory" />
  </div>
  <div class="form-group">
    <label for="costPrice">Cost:</label>
    <input class="form-input" type="text" id="wholesalePrice-inventory" />
  </div>
  <div class="form-group">
    <label for="retailPrice">Retail:</label>
    <input class="form-input" type="text" id="retailPrice-inventory" />
  </div>

  <div>
    <button class="btn btn-primary" type="submit">Enter New Item</button>
  </div>
</form>
<br />
<br />
<section>
  <h1 class="title">
    Inventory On Hands
    {{logged_in}}
  </h1>
  <h3 class="subtitle">
    Check what is currently in the store
  </h3>
</section>

<script src="/js/enterInventory.js"></script>