{{!-- dashboard page --}}
{{!-- links to inventory and sales --}}
<p> you are now logged in</p>
<p>What would you like to do next</p>
<p>Enter new inventory</p>
<p>Check on hand inventory</p>
<p>Register a new employee</p>