<section>
  <h1 class="title">
    Inventory Entry Form
  </h1>
  <h3 class="subtitle">
    Add inventory or create a new inventory item
  </h3>
</section>
<form class="form inventory-entry-form">
  <div class="form-group">
    <label for="mediaType">Media:</label>
    <input class="form-input" type="text" id="mediaType-inventory" />
  </div>
  <div class="form-group">
    <label for="genre">Genre:</label>
    <input class="form-input" type="password" id="genre-inventory" />
  </div>
  <div class="form-group">
    <label for="title">Cost:</label>
    <input class="form-input" type="text" id="title-inventory" />
  </div>
  <div class="form-group">
    <label for="costPrice">Cost:</label>
    <input class="form-input" type="text" id="costPrice-inventory" />
  </div>
  <div class="form-group">
    <label for="retailPrice">Retail:</label>
    <input class="form-input" type="text" id="retailPrice-inventory" />
  </div>

  <div>
    <button class="btn btn-primary" type="submit">Enter New Item</button>
  </div>
</form>

<script src="/js/inventory.js"></script>