<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
            <div class="loginTitle">
                <h1>IMS</h1>
                <p>Inventory Management System</p>
            </div>       
            <div class="login">
                <form class="form login-form">
                    <div class="form-group">
                        <label for="username-login">Username</label>
                        <input placeholder="username" type="text" id="user-name-login"/>                        
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input placeholder="password" type="text" id="password-login" />
                    </div>
                    <div class="form-button">
                        <button class="btn btn-primary">login</button>
                    </div>
                </form>

            </div>

    </div>

    <script src="/js/login.js"></script>


</body>








{{!-- <form class="form login-form">
  <div class="form-group">
    <label for="user-name login">user-name:</label>
    <input class="form-input" type="text" id="user-name-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-button">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>


 --}}