<div class="col-md-6">
  <h2>Signup a New Employee</h2>

  <form class="form signup-form">
    <div class="form-group">
      <label for="name-signup">Employee Name:</label>
      <input class="form-input" type="text" id="name-signup" />
    </div>
    <div class="form-group">
      <label for="username-signup">User Name:</label>
      <input class="form-input" type="text" id="username-signup" />
    </div>
    <div class="form-group">
      <label for="password-signup">Password:</label>
      <input class="form-input" type="text" id="password-signup" />
    </div>
    <div class="form-group">
      <label for="restrictions-signup">Restrictions:</label>
      <input class="form-input" type="text" id="restrictions-signup" />
    </div>
      <button class="btn btn-primary" type="submit">Register</button>
    </div>
  </form>
</div>

<script src="js/login.js"></script>