<div>
    <h1>Products</h1>
    <div>
        {{#each matchingProducts}}
            <div>
                <h3>Album Title: {{product_name}}</h3>
                <h3>Retail Price: {{retail_price}}</h3>
                <h3>Wholesale Price: {{wholesale_price}}</h3>
            </div>
        {{/each}}
    </div>
</div>