<nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand" href="/homepage">Home</a><button data-bs-toggle="collapse"
        class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i
          class="fa fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          {{!-- <li class="nav-item nav-link"><a class="nav-link active" href="#about">About</a></li> --}}
          <li class="nav-item nav-link"></li>
          <li class="nav-item nav-link">
            <button class="btn" id="logout">logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>




<style>
  table { font-family: arial, sans-serif; border-collapse: collapse; width:
  100%; } td, th { border: 1px solid #dddddd; text-align: left; padding: 8px; }
  tr:nth-child(even) { background-color: #dddddd; }
</style>

<div>
  <h1>All Registered Employees </h1>

  {{#each users}}
    <ul>
      <li>ID: {{id}}</li>
      <li>Username: {{username}}</li>
      <li>Created: {{createdAt}}</li>
    </ul>
  {{/each}}

</div>

<script src="./bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.reflowhq.com/v1/toolkit.min.js"></script>