<style>
  table { font-family: arial, sans-serif; border-collapse: collapse; width:
  100%; } td, th { border: 1px solid #dddddd; text-align: left; padding: 8px; }
  tr:nth-child(even) { background-color: #dddddd; }
</style>

<div>
  <h1>All Registered Employees </h1>

  {{#each users}}
    <ul>
      <li>ID: {{id}}</li>
      <li>Username: {{username}}</li>
      <li>Created: {{createdAt}}</li>
    </ul>
  {{/each}}

</div>