body {
    background: url("../img/newUsersBackground.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
  }
  .checkInventoryTitle {
    text-align: center;
  }
  .checkInventoryTitle p {
    color: #04001C;
    font-size: 60px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30;
    text-transform: uppercase;
    display: inline-block;
    background: rgba(255, 255, 255, .5);
    margin-bottom: 170px;
    padding: 20px;
    text-align: center;
  }

  .searchInventoryForm{
    margin: -30px auto;
    width: 1100px;
    background: rgb(0, 0, 0, 0.5);
    padding: 50px;
    border: 2px solid white;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
  }

  .search-inventory-form {
    margin: -30px auto;
    width: 1100px;
    background: rgb(0, 0, 0, 0.5);
    padding: 50px;
    border: 2px solid white;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
  }
  .form-group .form-input {
    height: 35px;
    width: 100%;
    border: 2px solid #96DED1;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-style: italic;
  }
  .form-group input {
    height: 40px;
    width: 100%;
    border: 4px solid #96DED1;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-style: italic;
  }

  .form-one{
    flex: 1;
    color: white;
  }

  .form-one{
      color: white;
  }
  /* .genre-form-group {
      margin: 0 auto;
      width: 550px;
      background: rgb(0, 0, 0, 0.4);
      padding: 50px;
      border: 2px solid white;
      border-radius: 8px;
      float: right;
      margin-right: -240px;
  } */
  /* .specific-form-group {
      margin: 0 auto;
      width: 80px;
      background: rgb(0, 0, 0, 0.4);
      padding: 50px;
      border: 2px solid white;
      border-radius: 8px;
      float: right;
      margin-right: -240px;
    } */
  .button {
    margin-top: 30px;
  }
  #c1 {
    margin-left: 20px;
  }
  #c2 {
    margin-left: 40px;
  }
  #c3 {
    margin-left: 40px;
  }
  .form-group label {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
  }
  .form-group .form-input {
    height: 35px;
    width: 100%;
    border: 2px solid #96DED1;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-style: italic;
  }

/* body {
    background: url("../img/enter-inv-background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
  }


  .checkInventoryTitle {
    width: 100%;
  }

  .checkInventoryTitle p {
    color: #04001c;
    font-size: 60px;
    font-weight: bold;
    margin-top: 96px;
    text-transform: uppercase;
    display: inline-block;
    background: rgba(255, 255, 255, .5);
    margin-bottom: 40px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
 
  }
  
  .media-form-group {
    margin: 0 auto;
    width: 550px;
    background: rgb(0, 0, 0, 0.4);
    padding: 50px;
    border: 2px solid white;
    border-radius: 8px;
    float: right;
    margin-right: -240px;
} */
/* .specific-form-group {
    margin: 0 auto;
    width: 80px;
    background: rgb(0, 0, 0, 0.4);
    padding: 50px;
    border: 2px solid white;
    border-radius: 8px;
    float: right;
    margin-right: -240px;
  } */
.button {
  margin-top: 30px;
}
#c1 {
  margin-left: 20px;
}
#c2 {
  margin-left: 40px;
}
#c3 {
  margin-left: 40px;
}
.form-group label {
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}
.form-group .form-input {
  height: 35px;
  width: 100%;
  border: 2px solid #96DED1;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  font-style: italic;
}