/* html {
  overflow: scroll;
} */

body {
  background: url('../img/users-background.jpg') no-repeat center fixed ;
  background: url("../img/enter-inv-background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

/* #form-container {
    scroll-snap-stop: y mandatory;
    } */
.enterInventoryTitle {
  text-align: center;
  /* background-color: (255, 255, 255, .5);
  width: 100%; */
  /* margin-top: 70px;
  background: rgba(255, 255, 255, .5);
  padding: 15px; */
}


.enterInventoryTitle p {
  color: #04001c;
  font-size: 60px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 96px;
  text-transform: uppercase;
  display: inline-block;
  background: rgba(255, 255, 255, .5);
  margin-bottom: 170px;
  padding: 20px;
  text-align: center;
}



/* .enterInv p {
  color: #04001c;
  font-size: 50px;
  font-weight: bold;
  margin: 0px;
  text-transform: uppercase;
  display: inline-block;
} */

#c1 {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 5px;
}

#c2 {
  margin-right: 30px;
  margin-top: 5px;
}
#c3 {
  margin-right: 30px;
  margin-top: 5px;
}
#c4 {
  margin-right: 30px;
  margin-top: 5px;
}
#c5 {
  margin-right: 70px;
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 50px;
}
#c6 {
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}
#c7 {
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.inventory-entry-form {
  margin: -30px auto;
  width: 1000px;
  background: rgb(0, 0, 0, 0.5);
  padding: 50px;
  border: 2px solid white;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  margin-top: -18px;
}

.form-group label {
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.form-group .form-input {
  height: 35px;
  width: 100%;
  border: 2px solid #96ded1;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  font-style: italic;
}

#inventory-buttons {
  display: flex;
  justify-items: center;
  
}


#submit1 {
  margin-left: 220px;
}

button {
  font-size: 25px;
  padding: 10px 40px;
  background: #96ded1 !important;
  border: 2px solid #96ded1 !important;
  color: white

}

#submit2 {
  margin-left: 50px;
}

button:focus {
  outline:white !important;
}